:root {
  --white: #f8f8f8;
  --black: #232326;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-layout {
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-auto-columns: 1fr;
  justify-content: center;
  padding: 20px;
}

.w-layout-cell {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

.body {
  background-color: #f8f8f8;
  flex-flow: column;
  justify-content: flex-start;
  align-items: stretch;
  font-family: Poppins, sans-serif;
  display: block;
}

.hero {
  z-index: 10;
  background-color: #f8f8f8;
  justify-content: center;
  align-items: center;
  max-width: none;
  padding-top: 120px;
  padding-bottom: 100px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.div-block {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 180px 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: center;
  max-width: 1120px;
  display: flex;
}

.image {
  max-height: 108px;
}

.div-block-2 {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  align-items: center;
  min-width: 300px;
  max-width: 300px;
  min-height: 120px;
  display: flex;
  position: relative;
}

.typed {
  min-height: 70px;
  font-family: Poppins, sans-serif;
  font-size: 54px;
  line-height: 64px;
}

.text-block-2 {
  font-family: Poppins, sans-serif;
  font-size: 64px;
  font-weight: 600;
  line-height: 72px;
}

.image-2 {
  position: absolute;
  top: 85px;
  right: 100px;
}

.div-block-3 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-direction: column;
  display: flex;
}

.paragraph {
  text-align: justify;
  max-width: 100%;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  line-height: 26px;
}

.div-block-4 {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  flex-direction: column;
  justify-content: center;
  max-width: 42%;
  display: flex;
}

.button {
  background-color: #232326;
  border-radius: 40px;
  flex-direction: column;
  align-items: center;
  width: 140px;
  padding-left: 20px;
  padding-right: 20px;
  transition: color .2s, background-color .2s ease-in-out;
  display: flex;
}

.button:hover {
  color: #232326;
  background-color: #d94539;
}

.carousel-wrapper {
  max-width: 100%;
  margin-top: 60px;
  margin-bottom: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  position: static;
  left: -119px;
  overflow: visible;
}

.image-carousel {
  min-width: 100%;
}

.text-block-3 {
  font-size: 54px;
  line-height: 64px;
}

.container {
  width: 90vw;
  max-width: 1360px;
  margin-left: auto;
  margin-right: auto;
}

.timeline_image-wrapper {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  background-image: none;
  background-position: 0 0;
  border-radius: 12px;
  flex-direction: column;
  display: flex;
  overflow: hidden;
}

.section-timeline {
  z-index: 0;
  background-color: #f8f8f8;
  position: relative;
}

.text-colour-white {
  color: #19447a;
}

.timeline_circle {
  background-color: #fff;
  border-radius: 100%;
  width: 15px;
  min-width: 15px;
  max-width: 15px;
  height: 15px;
  min-height: 15px;
  max-height: 15px;
  position: sticky;
  top: 50vh;
  box-shadow: 0 0 0 8px #0a0a0a;
}

.timeline_quote-text-wrapper {
  color: #19447a;
  flex: 1;
}

.timeline_quote-title {
  color: #232326;
  font-size: 14px;
  font-weight: 500;
}

.timeline_progress-bar {
  z-index: -1;
  background-color: #fff;
  background-image: linear-gradient(#ff7448, #ff4848 51%, #6248ff);
  width: 3px;
  height: 50vh;
  position: fixed;
  inset: 0 auto 50vh;
}

.text-colour-lightgrey {
  color: #19447a;
  margin-bottom: 20px;
  line-height: 20px;
  display: block;
}

.margin-bottom-medium {
  margin-bottom: 20px;
}

.timeline_quote-image {
  border-radius: 8px;
  width: 48px;
  height: 48px;
  margin-right: 24px;
}

.timeline_definition-wrapper {
  background-color: #ffffff0d;
  border-radius: 16px;
  padding: 16px;
}

.timeline_centre {
  justify-content: center;
  display: flex;
}

.margin-bottom-xlarge {
  color: #232326;
  margin-bottom: 20px;
}

.timeline_progress {
  z-index: -2;
  background-color: #414141;
  width: 3px;
  height: 100%;
  position: absolute;
}

.timeline_item {
  z-index: 2;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 180px 1fr;
  grid-auto-columns: 1fr;
  padding-top: 80px;
  padding-bottom: 80px;
  display: grid;
  position: relative;
}

.timeline_quote-wrapper {
  border: 2px solid #d94539;
  border-radius: 16px;
  align-items: flex-start;
  padding: 24px;
  display: none;
}

.inline-block {
  display: inline-block;
}

.timeline_text {
  color: #232326;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
}

.overlay-fade-top {
  background-image: linear-gradient(#f8f8f8, #0a0a0a00);
  height: 80px;
  position: absolute;
  inset: 0% 0% auto;
}

.timeline_component {
  z-index: 10;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
}

.link-icon {
  width: 20px;
  height: 20px;
  margin-left: 8px;
  display: none;
  overflow: hidden;
}

.timeline_left {
  text-align: right;
  justify-content: flex-end;
  align-items: stretch;
}

.overlay-fade-bottom {
  background-image: linear-gradient(to top, #0a0a0a, #0a0a0a00);
  height: 80px;
  position: absolute;
  inset: auto 0% 0%;
}

.timeline_link {
  opacity: .6;
  color: #fff;
  letter-spacing: .8px;
  text-transform: uppercase;
  border-radius: 8px;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.3;
  text-decoration: none;
  transition: opacity .3s;
  display: flex;
}

.timeline_link:hover {
  opacity: 1;
}

.timeline_date-text {
  color: #232326;
  letter-spacing: -.03em;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.2;
  position: sticky;
  top: 50vh;
}

.timeline_milestone-badge {
  color: #161616;
  letter-spacing: .05em;
  text-transform: uppercase;
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 24px;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 700;
  line-height: 12px;
  display: inline-block;
}

.timeline_badge {
  color: #fff;
  letter-spacing: .05em;
  text-transform: uppercase;
  background-color: #ffffff26;
  border-radius: 8px;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 6px 8px;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  display: inline-block;
}

.timeline_quote {
  color: #232326;
  margin-bottom: 16px;
  font-size: 14px;
}

.text-block-4, .text-block-5, .text-block-6 {
  color: #19447a;
}

.text-block-7 {
  display: none;
}

.footer-container {
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  padding: 20px;
  display: block;
}

.text-block-8 {
  flex-direction: row;
  justify-content: space-between;
  display: flex;
}

.image-3 {
  width: 24px;
}

.div-block-5 {
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  display: flex;
}

.container-2 {
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  max-width: 1360px;
  padding-left: 40px;
  padding-right: 40px;
  display: block;
}

.bold-text, .bold-text-2, .bold-text-3, .bold-text-4, .bold-text-5, .bold-text-6, .bold-text-7, .bold-text-8 {
  font-weight: 600;
}

.link-block {
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.link {
  color: #d94539;
  font-size: 16px;
  text-decoration: none;
}

.section {
  background-color: #f8f8f8;
}

.container-3 {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  justify-content: flex-end;
  align-items: center;
  max-width: 1360px;
  margin-right: auto;
  display: flex;
}

.heading {
  font-size: 20px;
  font-weight: 500;
}

.page-container {
  max-width: 940px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.quick-stack {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: auto;
  min-height: 460px;
}

.intro-block {
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  width: auto;
  height: auto;
  padding: 20px 0;
  display: flex;
}

.heading-2 {
  font-size: 50px;
  line-height: 67.5px;
}

.body-2 {
  font-family: Poppins, sans-serif;
}

.text-block-9 {
  flex-flow: column;
  font-weight: 600;
  display: flex;
}

.div-block-6 {
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  display: block;
}

.list {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 10px;
  padding-left: 20px;
  display: flex;
}

.list.content {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  flex-flow: column;
}

.bold-text-9 {
  font-weight: 400;
}

.bold-text-10 {
  font-weight: 600;
}

.bold-text-11, .bold-text-12, .bold-text-13 {
  font-weight: 400;
}

.cell {
  border: 1px solid #000;
}

.cell-2 {
  border: 1px solid #000;
  border-style: none solid solid none;
  justify-content: center;
  align-items: flex-start;
}

.cell-3 {
  border: 1px solid #000;
  border-left-style: none;
}

.bold-text-14, .bold-text-15 {
  font-weight: 600;
}

.text-block-10 {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.bold-text-16, .bold-text-17 {
  font-weight: 600;
}

.content-wrapper {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-flow: column;
  max-width: 1360px;
  margin-top: 0;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
}

.heading-3 {
  border-bottom: 2px solid #19447a;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-weight: 600;
}

.content-container {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: column;
  padding-top: 0;
  padding-left: 40px;
  display: flex;
}

.project-overview {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  flex-flow: column;
  margin-top: 0;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
}

.heading-4 {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
}

.heading-4.on-card {
  color: var(--white);
}

.cell-4, .cell-5 {
  justify-content: flex-start;
  align-items: center;
}

.cell-6, .cell-7, .cell-8 {
  justify-content: center;
  align-items: center;
}

.body-3 {
  font-family: Poppins, sans-serif;
}

.bold-text-18, .bold-text-19, .bold-text-20, .bold-text-21, .bold-text-22, .bold-text-23, .bold-text-24 {
  font-weight: 600;
}

.text-block-11 {
  text-align: center;
}

.image-4 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.div-block-7 {
  width: 54px;
  height: 54px;
  padding: 8px;
}

.container-4 {
  justify-content: space-between;
  align-items: center;
  height: 80px;
  display: flex;
}

.section-2 {
  z-index: 10;
  background-color: #f8f8f8;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  position: relative;
}

.text-block-12 {
  color: var(--black);
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}

.div-block-8 {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  height: 80px;
  display: flex;
}

.section-3 {
  padding-left: 0;
  padding-right: 0;
}

.section-4 {
  max-width: none;
  padding-left: 0;
  padding-right: 0;
}

.image-6 {
  width: 32px;
}

.div-block-9 {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.link-button {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
  margin-bottom: 20px;
  text-decoration: none;
  display: flex;
}

.image-7 {
  height: 80%;
}

.text-block-13 {
  color: #d94539;
  font-weight: 500;
  text-decoration: none;
}

.card {
  background-color: #cee0e9;
  border-radius: 12px;
  width: 100%;
  max-width: 100%;
  height: 320px;
  padding: 4px 16px 16px;
}

.card.horizontal {
  height: 56px;
  padding-top: 16px;
}

.on-card {
  color: var(--white);
}

.quick-stack-4 {
  padding-left: 0;
  padding-right: 0;
}

.paragraph-2 {
  font-size: 16px;
  line-height: 24px;
}

.paragraph-3, .paragraph-4, .paragraph-5, .paragraph-6, .paragraph-7, .paragraph-8, .paragraph-9, .paragraph-10, .paragraph-10-copy {
  font-size: 16px;
  line-height: 22px;
}

.questions {
  background-color: #cee0e9;
  border-radius: 12px;
  padding: 16px;
}

@media screen and (max-width: 767px) {
  .timeline_quote-image {
    margin-top: 24px;
    margin-right: 0;
  }

  .timeline_centre {
    justify-content: flex-start;
  }

  .margin-bottom-xlarge {
    margin-bottom: 48px;
  }

  .timeline_progress {
    left: 6px;
  }

  .timeline_item {
    grid-template-columns: 64px 1fr;
    width: 100%;
  }

  .timeline_quote-wrapper {
    flex-direction: column-reverse;
  }

  .timeline_text {
    font-size: 20px;
  }

  .timeline_left {
    text-align: left;
  }

  .timeline_date-text {
    margin-bottom: 24px;
    font-size: 36px;
  }
}

@media screen and (max-width: 479px) {
  .hero {
    padding-top: 60px;
  }

  .div-block {
    flex-direction: column;
    align-items: flex-start;
  }

  .div-block-2 {
    min-width: 240px;
    max-width: 240px;
  }

  .typed {
    font-size: 40px;
  }

  .text-block-2 {
    font-size: 48px;
  }

  .image-2 {
    max-width: 70%;
    right: 80px;
  }

  .paragraph {
    font-size: 16px;
  }

  .div-block-4 {
    max-width: 100%;
  }

  .button {
    width: 120px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .carousel-wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .image-carousel {
    min-width: auto;
    max-width: none;
    height: 200px;
  }

  .text-block-3 {
    font-size: 40px;
  }

  .margin-bottom-medium {
    margin-bottom: 24px;
  }

  .timeline_item {
    grid-template-columns: 48px 1fr;
  }

  .timeline_text {
    font-size: 16px;
  }

  .timeline_date-text {
    font-size: 28px;
  }

  .footer-container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .container-2 {
    flex-direction: column;
    padding-left: 16px;
    padding-right: 16px;
    display: block;
  }

  .page-container {
    padding: 20px 10px 10px;
  }

  .intro-block {
    padding-left: 0;
    padding-right: 0;
  }

  .heading-2 {
    font-size: 32px;
    line-height: 40px;
  }

  .list {
    flex-flow: column;
  }

  .list.content {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
  }

  .cell-2 {
    border-left-style: solid;
  }

  .cell-3 {
    border-top-style: none;
    border-left-style: solid;
  }

  .content-container {
    padding-left: 0;
  }

  .project-overview {
    padding-left: 0;
    padding-right: 0;
  }

  .heading-4 {
    margin-bottom: 10px;
  }

  .text-block-12.w--current {
    font-size: 16px;
  }

  .image-5 {
    border-left: 1px #000;
  }

  .quick-stack-2 {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .quick-stack-3 {
    padding-left: 0;
    padding-right: 0;
  }
}

#w-node-_7f6a9794-6c09-71c1-fb43-884a0cc980b6-562cfbdd {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_05f0fe51-0318-17e4-3067-323cd94f55f7-562cfbdd {
  grid-area: 1 / 3 / 2 / 4;
}

#w-node-afda1184-50a7-5394-c58b-9dd0b32ad7f5-1e002314 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

#w-node-b596bb9a-2d16-328e-4049-51795eb6efa7-1e002314 {
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 1fr 1fr;
}

#w-node-_666f6535-a8a3-0906-f5ab-58a723a9f2e3-7bc01a12 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 767px) {
  #w-node-b2732d15-4b01-f568-ba3e-b21741ae7ba4-562cfbdd {
    grid-area: 1 / 2 / 2 / 3;
  }

  #w-node-b2732d15-4b01-f568-ba3e-b21741ae7ba7-562cfbdd {
    grid-area: 1 / 1 / 3 / 2;
  }

  #w-node-b2732d15-4b01-f568-ba3e-b21741ae7ba9-562cfbdd {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-b2732d15-4b01-f568-ba3e-b21741ae7bb0-562cfbdd {
    grid-area: 1 / 2 / 2 / 3;
  }

  #w-node-b2732d15-4b01-f568-ba3e-b21741ae7bb3-562cfbdd {
    grid-area: 1 / 1 / 3 / 2;
  }

  #w-node-b2732d15-4b01-f568-ba3e-b21741ae7bc3-562cfbdd {
    grid-area: 1 / 2 / 2 / 3;
  }

  #w-node-b2732d15-4b01-f568-ba3e-b21741ae7bc6-562cfbdd {
    grid-area: 1 / 1 / 3 / 2;
  }

  #w-node-b2732d15-4b01-f568-ba3e-b21741ae7bdd-562cfbdd {
    grid-area: 1 / 2 / 2 / 3;
  }

  #w-node-b2732d15-4b01-f568-ba3e-b21741ae7be0-562cfbdd {
    grid-area: 1 / 1 / 3 / 2;
  }

  #w-node-b2732d15-4b01-f568-ba3e-b21741ae7bf9-562cfbdd {
    grid-area: 1 / 2 / 2 / 3;
  }

  #w-node-b2732d15-4b01-f568-ba3e-b21741ae7bfc-562cfbdd {
    grid-area: 1 / 1 / 3 / 2;
  }

  #w-node-b2732d15-4b01-f568-ba3e-b21741ae7c16-562cfbdd {
    grid-area: 1 / 2 / 2 / 3;
  }

  #w-node-b2732d15-4b01-f568-ba3e-b21741ae7c19-562cfbdd {
    grid-area: 1 / 1 / 3 / 2;
  }
}

@media screen and (max-width: 479px) {
  #w-node-afda1184-50a7-5394-c58b-9dd0b32ad7f6-1e002314, #w-node-afda1184-50a7-5394-c58b-9dd0b32ad807-1e002314, #w-node-afda1184-50a7-5394-c58b-9dd0b32ad816-1e002314 {
    grid-column: span 3 / span 3;
  }

  #w-node-b596bb9a-2d16-328e-4049-51795eb6efa7-1e002314 {
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr 1fr;
  }

  #w-node-_666f6535-a8a3-0906-f5ab-58a723a9f2e4-7bc01a12, #w-node-_666f6535-a8a3-0906-f5ab-58a723a9f2e5-7bc01a12, #w-node-_7cfb53bc-b936-7984-3552-ca87ed417bbf-7bc01a12 {
    grid-column: span 3 / span 3;
  }
}


